* {
    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif003554
}

html {
    scrollbar-width: None;
    scroll-behavior: smooth;
}

body {
    background-image: url(./images/5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

header,main,footer{
    display:block;
}

div.header {
    display:flex;
    z-index: 1;
    width:100%;
    height:5em;
    background-color: #00202990;
    position:fixed;
    justify-content: center;
    box-shadow: 1px 5px 18px rgba(0, 0, 0, 0.469);
}

header div h1 {
    color:#ffffff;
    margin:1em;

}

div.portrait {
    display:flex;
    align-items: center;
    flex-direction: column;
    position:relative;
    top:80px;
    height:100vh;
    background-color: #00303d90;
}

.myFace {
    margin:10vh 10vw;
    width:17vw;
    height:20vw;
    border-radius: 50%;
}

p.intro {
    margin:2vh 10vw;
    color: #ffffff;
    font-weight: bold;

    font-size: 2em;
}

main div button {
    width:10vw;
    height:5vh;
    cursor: pointer;
    border: 2px solid #43bbdc;
    background-color: #00000000;
    border-radius: 1rem;
    margin: 2vh 10vw;
    
}

main div button a {
    color:rgb(255, 255, 255);
    font-size: 2vw;
}

section.hist {
    display:flex;
    flex-direction: column;
    background-color: #00405200;
    height:100vh;
}

div.skills {
    margin:10vh 0vh 5vw 5vw;
}

div.experience {
    background-color: #00303d90;
    width:100vw;
    height:30vh;
    padding:2rem;
}

ul {
    list-style-type:georgian;
    padding:0;
    margin:0;
}

.langs {
    color: #ffffff;
    font-size: 2rem;
}

.important {
    color: #ffffff;
    font-size: 2rem;
    margin-top: 2rem;
}

.detail {
    font-size:1rem;
    color: #ffffff;
    margin-top: 2rem;
}

footer {
    height:10vh;
    background-color: #ffffff1b;
}

a.link {
    color: #ffffff;
    font-size: 2rem;
    margin:45vw;
}

a:hover {
    color: #36322f4e;
    transition: all ease-in-out 0.35s;
}