* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button.toTop {
    position: fixed;
    width:fit-content;
    font-size: 0.5em;
    background-color: rgba(179, 158, 131, 0);
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.39);
    padding:1em 2em;
    bottom:2em;
    right:2em;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.349);
}

a.redirect {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

ul.goto {
    text-align: center;
    list-style-type: none;
}

a.toTopA {
    display:block;
}

div.image {
    display:flex;
    justify-content: center;
}

.Title {
    color:brown;
    margin:2em;
    font-size: 3em;
}

.Author {
    color:rgba(0, 0, 0, 0.451);
    margin: 1em;
}

.Content {
    width:50%;
    margin: 2em;
    border:8px double black;
    margin-right: auto; margin-left: auto;
    text-align: center;
}


a{
    font-size: 2em;
    text-decoration: none;
    color:rgb(0, 0, 0);
}

img {
    width:20%;
    border-radius: 10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 1em 1em;
    padding:0 30%;
}

h1,h2,h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

.subTitle {
    color:rgb(240, 175, 78);
    margin:1em;
    font-size: 1.5em;
}

a:hover {
    color:rgba(0, 0, 0, 0.568);
    text-decoration: underline;
    transition:all ease-in-out 0.2s;
    
}

button.toTop:hover {
    background-color: aliceblue;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.596);
    transition: all 0.35s ease-in-out;
}

